@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.markdownStyle {
  font-family: "Poppins";
}

.markdownStyle img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdownStyle table, .markdownStyle td {
  border: 1px solid gray;
  border-collapse: collapse;
}